@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-main: #9b00a9;
  --color-main-hover: #7a0185;
  --color-secondary: #9C39D4;
  --color-accent-100: #ffb7ff;
  --color-accent-200: #3bf4fb;
  --color-accent-300: #caff8a;
  --color-accent-400: #511CA2;
  --color-platinum: #e6e8e6;
  --color-text: #f9f5e3;
  --color-red-rich: #ff0022;
  --color-black-rich: #0f0326;
  --font-size-xs: 0.75rem;
  --font-dancing: 'Dancing Script';
  --font-poppins: 'Poppins';
}

/* * {
  font-family: "Poppins", sans-serif;
  
} */

*::selection {
  background-color: var(--color-secondary);
  color: white;
}

header {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}

#register {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.container {
  --uib-size: 24px;
  --uib-color: white;
  --uib-speed: .8s;
  --uib-bg-opacity: 0.1;
  height: var(--uib-size);
  width: var(--uib-size);
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  will-change: transform;
  overflow: visible;
}

.car {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 25, 75;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transition: stroke 0.5s ease;
}

.track {
  fill: none;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
  transition: stroke 0.5s ease;
}

@keyframes rotate {
100% {
  transform: rotate(360deg);
}
}
